<nav class="main-menu">
    <a href="/account"><p>Home</p></a> 
    <a href="/newsfeed" ><p>Newsfeed</p></a>
    <a href="/account/create"><p>Add Plant</p></a>
    <a href="/index/sign-out"><p>Sign Out</p></a>
</nav>