<html>

<head>


</head>



<body>

<h1> About us</h1>


<h3>Our Story </h3>
<p> It all began with a Plant Presentation made by one our founder Cristina. You might ask yourself planting? becoming a plantparent? In what way this is suppose to help me.Well, at least myself thought of those those questions.</p>
<p> As presentation goes on everyone gets a clear understanding on how beneficial planting will be in your lives, such as brighten up your room and health benefits. </p>


<h3> Our Mission</h3>
<p>To ensure our users have pleasent experience in our platform share your results and how others can attain it.</p>











</body>















</html>