<html>

<head>


<!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">


<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link href='/styles/styles2.css' rel="stylesheet">
<title>About Us</title>


</head>

<body>

{{>menu}}

<h1 class="title">About Us</h1>
<div class="container">

<div class="card" style="width: 18rem;">
  <img src="https://avatars0.githubusercontent.com/u/68071056?s=400&u=348c2cc946961d2d9138cd51d361c2b57c33d966&v=4" class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">Abbey Perini</h5>
    <p class="card-text">Fullstack Developer</p>
    <a href="https://www.linkedin.com/in/abigail-perini/" class="btn btn-primary">LinkedIn</a>
    <a href="https://github.com/abbeyperini" class="btn btn-primary">GitHub</a>
  </div>
</div>

<div class="card" style="width: 18rem;">
  <img src="/images/me5.png" class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">Cristina Hernandez</h5>
    <p class="card-text">Fullstack Developer</p>
    <a href="https://www.linkedin.com/in/ana-cristina-hernandez-596122144/" class="btn btn-primary">LinkedIn</a>
    <a href="https://github.com/cristinahdz29" class="btn btn-primary">GitHub</a>
  </div>
</div>

<div class="card" style="width: 18rem;">
  <img src="https://avatars0.githubusercontent.com/u/70726489?s=400&u=9cdf7cef673b24c480600850c94243b88bbded7b&v=4" class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">Juan Trinidad</h5>
    <p class="card-text">Fullstack Developer</p>
    <a href="https://www.linkedin.com/in/juan-trinidad-18348aa5/" class=" btn btn-primary">LinkedIn</a>
    <a href="https://github.com/juantrinidad14" class="btn btn-primary">GitHub</a>
  </div>
</div>
    
</div>

<div class="Logo">
        <img src="/images/plantrLogo.svg">
    </div>

 <!-- Option 1: jQuery and Bootstrap Bundle (includes Popper) -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx" crossorigin="anonymous"></script>




</body>















</html>