<!DOCTYPE html>
<html lang='en'>
    <head>
        <meta charset='UTF-8'/>
        <meta name='viewport' content='width=device-width' initial-scale='1.0' maximum-scale='1.0'/>
        <title>Plantr</title>
        <link rel='stylesheet' href='/styles/styles.css'/>
        <link href="https://fonts.googleapis.com/css2?family=Comfortaa:wght@400;700&display=swap" rel="stylesheet">
    </head>
    <body>
        {{#plants}}
            <h2>{{common_name}}</h2>
            <p>{{scientific_name}}</p>
            <a href="/account/edit/{{id}}"><button>Edit</button></a>
            <form method="POST" action="/account/delete-plant">
                <input type="hidden" value='{{id}}' name="plant_id">
                <button>Delete</button>
            </form>
        {{/plants}}
        <aside>
            <h1>Create Plant</h1>
            <form method="POST" action="/account/create-plant">
                <input type="text" placeholder="Common Name" name="common_name">
                <input type="text" placeholder="Scientific Name" name="scientific_name">
                <input type="text" placeholder="Watering Schedule" name="watering_schedule">
                <input type="text" placeholder="Light Requirement" name="light_requirement">
                <input type="text" placeholder="Soil Type" name="soil_type">
                <button>Add Plant</button>
            </form>
        </aside>
    </body>
</html>