<!DOCTYPE html>
<html lang='en'>
    <head>
        <meta charset='UTF-8'/>
        <meta name='viewport' content='width=device-width' initial-scale='1.0' maximum-scale='1.0'/>
        <title>Plantr</title>
        <link rel="shortcut icon" href="/images/plantrLogo.svg" type="image/x-icon">
        <link rel='stylesheet' href='/styles/styles.css'/>
        <link href="https://fonts.googleapis.com/css2?family=Comfortaa:wght@400;700&display=swap" rel="stylesheet">
    </head>
    <body>
        {{> menu}}
        <main class="main-plants">
            {{#plants}}
                <div class="account-plant">
                    <a href="/account/edit/{{id}}"><h2>{{common_name}}</h2></a>
                    <p>{{scientific_name}}</p>
                </div>
            {{/plants}}
        </main>
        <aside class="create-plants">
            <h1>Create Plant</h1>
            <form class="create-inputs" method="POST" action="/account/create-plant">
                <input type="text" placeholder="Common Name" name="common_name">
                <input type="text" placeholder="Scientific Name" name="scientific_name">
                <input type="text" placeholder="Watering Schedule" name="watering_schedule">
                <input type="text" placeholder="Light Requirement" name="light_requirement">
                <input type="text" placeholder="Soil Type" name="soil_type">
                <button>Add Plant</button>
            </form>
        </aside>
        {{> footer}}
    </body>
</html>