<!DOCTYPE html>
<html lang='en'>
    <head>
        <meta charset='UTF-8'/>
        <meta name='viewport' content='width=device-width' initial-scale='1.0' maximum-scale='1.0'/>
        <title>Plantr</title>
        <link rel="shortcut icon" href="/images/plantrLogo.svg" type="image/x-icon">
        <link rel='stylesheet' href='/styles/styles.css'/>
        <link href="https://fonts.googleapis.com/css2?family=Comfortaa:wght@400;700&display=swap" rel="stylesheet">
    </head>
    <body>
        {{> menu}}
        <main class="main-plants">
            {{#plants}}
                <div class="account-plant">
                    <div class="image-cropper">
                        <a href="/account/details-plant/{{id}}"><img class="plant-avatar" src={{imageURL}}></a>
                    </div>
                    <a href="/account/edit/{{id}}"><h2>{{common_name}}</h2></a>
                    <p>{{scientific_name}}</p>
                    <a href="/account/add-post/{{id}}"><button>Post</button></a>
                </div>
            {{/plants}}

            {{^plants}}
                <a href="/account/create"><h1>Add some plants!</h1></a>
            {{/plants}}
        </main>
        <footer>
        {{> footer}}
        </footer>
    </body>
</html>