<!DOCTYPE html>
<html lang='en'>
    <head>
        <meta charset='UTF-8'/>
        <meta name='viewport' content='width=device-width' initial-scale='1.0' maximum-scale='1.0'/>
        <title>Plantr</title>
        <link rel="shortcut icon" href="/images/plantrLogo.svg" type="image/x-icon">
        <link rel='stylesheet' href='/styles/styles.css'/>
        <link href="https://fonts.googleapis.com/css2?family=Comfortaa:wght@400;700&display=swap" rel="stylesheet">
    </head>
    <body>
        {{> menu}}
        <main class="add-post-main">
            {{#Plant}}
            <h1>{{common_name}}</h1>
            <nav>
                <h3>Add Post</h3>
                <form method="POST" action="/account/create/post/upload" enctype="multipart/form-data">
                    <input type="file" name="photo" pattern=".*(\.[Jj][Pp][Gg]|\.[Gg][Ii][Ff]|\.[Jj][Pp][Ee][Gg]|\.[Pp][Nn][Gg])"/>
                    <button>Upload</button>
                </form>

                <img class="photo-preview" alt="Plant Avatar" src="{{photoURL}}"/>

                <form class="create-posts" method="POST" action="/account/add-post">
                    <input type="text" placeholder="Plant Name" name="common_name" value="{{common_name}}" pattern="[\w\[\]`!@#$%\^&*()={}:;<>+'-\s]*">
                    <input type="text" placeholder="Scientific Name" name="scientific_name" value="{{scientific_name}}" pattern="[\w\[\]`!@#$%\^&*()={}:;<>+'-\s]*">
                    <input type="text" placeholder="body" name="body" pattern="[\w\[\]`!@#$%\^&*()={}:;<>+'-\s]*">
                    <input type="hidden" name="plant_id" value={{id}}>
                    <button>Add Post</button>
                </form>
            <nav>
            {{/Plant}}
        </main>
        <footer>
        {{> footer}}
        </footer>
    </body>
</html>