<!DOCTYPE html>
<html lang='en'>
    <head>
        <meta charset='UTF-8'/>
        <meta name='viewport' content='width=device-width' initial-scale='1.0' maximum-scale='1.0'/>
        <title>Plantr</title>
        <link rel="shortcut icon" href="/images/plantrLogo.svg" type="image/x-icon">
        <link rel='stylesheet' href='/styles/styles.css'/>
        <link href="https://fonts.googleapis.com/css2?family=Comfortaa:wght@400;700&display=swap" rel="stylesheet">
    </head>
    <body>
        {{> menu}}
        <main class="create-plants">
            <h1>Create Plant</h1>
            <form method="POST" action="/account/create/upload" enctype="multipart/form-data">
                <input type="file" name="photo" pattern=".*(\.[Jj][Pp][Gg]|\.[Gg][Ii][Ff]|\.[Jj][Pp][Ee][Gg]|\.[Pp][Nn][Gg])"/>
                <button>Upload</button>
            </form>

            <img class="plant-avatar" alt="avatar" src="{{imageURL}}" width=300/>

            <form class="create-inputs" method="POST" action="/account/create-plant">
                <input type="text" placeholder="Common Name" name="common_name" pattern="[\w\[\]`!@#$%\^&*()={}:;<>+'-]*" required>
                <input type="text" placeholder="Scientific Name" name="scientific_name" pattern="[\w\[\]`!@#$%\^&*()={}:;<>+'-]*" required>
                <input type="text" placeholder="Watering Schedule" name="watering_schedule" pattern="[\w\[\]`!@#$%\^&*()={}:;<>+'-]*">
                <input type="text" placeholder="Light Requirement" name="light_requirement" pattern="[\w\[\]`!@#$%\^&*()={}:;<>+'-]*">
                <input type="text" placeholder="Soil Type" name="soil_type" pattern="[\w\[\]`!@#$%\^&*()={}:;<>+'-]*">
                <button>Add Plant</button>
            </form>
        </main>
        {{> footer}}
    </body>
</html>