<!DOCTYPE html>
<html lang='en'>
    <head>
        <meta charset='UTF-8'/>
        <meta name='viewport' content='width=device-width' initial-scale='1.0' maximum-scale='1.0'/>
        <title>Plantr</title>
        <link rel="shortcut icon" href="/images/plantrLogo.svg" type="image/x-icon">
        <link rel='stylesheet' href='/styles/styles.css'/>
        <link href="https://fonts.googleapis.com/css2?family=Comfortaa:wght@400;700&display=swap" rel="stylesheet">
    </head>
    <body>
        <main class="loginMain">
            <h3>{{message}}</h3>
            <nav class="loginBox">
                <form class="loginInputs" method="POST" action="/index/login">
                    <input id="loginUsername" oninput="setCustomValidity('')" type="text" placeholder="username" name="username" pattern="^([a-zA-Z])[a-zA-Z_-]*[\w_-]*[\S]$|^([a-zA-Z])[0-9_-]*[\S]$|^[a-zA-Z]*[\S]$" required>
                    <!-- Letters and numbers -->
                    <input id="loginPassword" oninput="setCustomValidity('')" type="password" placeholder="password" name="password" pattern="^(?=.*\d).{4,8}$" required>
                    <!-- Password must be between 4 and 8 digits long and include at least one numeric digit. -->
                    <button>Login</button>
                </form>
            </nav>
            <p>Need a username? <a href='/index/register'>Register</a></p>
        </main>
        <footer>
        {{> footer}}
        <footer>
    </body>
    <script src="/js/validity.js"></script>
</html>