<html>
    <head>
        <meta charset='UTF-8'/>
        <meta name='viewport' content='width=device-width' initial-scale='1.0' maximum-scale='1.0'/>
        <title>Plantr</title>
        <link rel="shortcut icon" href="/images/plantrLogo.svg" type="image/x-icon">
        <link rel='stylesheet' href='/styles/styles.css'/>
        <link href="https://fonts.googleapis.com/css2?family=Comfortaa:wght@400;700&display=swap" rel="stylesheet">
    </head>
    <body>
        {{> menu}}
        <main class="comments-main">
            {{#post}}
            <div class="detailed-post">
                <img src='{{imageURL}}' width=300>
                
                <form method="POST" action="/account/post/{{id}}/like">
                    <button>Like</button>
                </form>

                <p>{{likes}}</p>

                
                {{#User}}
                    <p>{{username}}</p>
                {{/User}}
                <h3>{{body}}</h3>
            </div>
            <div class="detailed-post-comments">
                <h4>Comments</h4>
                {{#Comments}}
                <li class="detailed-post-comment">
                    <p>{{body}}</p>
                    <form method="POST" action="/account/post/{{post_id}}/comment/{{id}}/delete-comment">
                        <button>Delete</button>
                    </form>
                </li>
                {{/Comments}}
            </div>
            <div class="add-comment">
                <h4>Drop a comment below!</h4>
                <form method="POST" action="/account/add-comment/{{id}}">
                    <input type="text" name="body" placeholder="Comment"></input>
                    <button>Submit</button>
                </form>
            </div>            
            {{/post}}
        </main>
        <script type="text/javascript">
        var clicks = 0;
        function updateClickCount() {
            document.getElementById("clickCount").innerHTML = clicks;
        }
    </script>
        {{> footer}}
    </body>
</html>