<!DOCTYPE html>
<html lang='en'>
    <head>
        <meta charset='UTF-8'/>
        <meta name='viewport' content='width=device-width' initial-scale='1.0' maximum-scale='1.0'/>
        <title>Plantr</title>
        <link rel="shortcut icon" href="/images/plantrLogo.svg" type="image/x-icon">
        <link rel='stylesheet' href='/styles/styles.css'/>
        <link href="https://fonts.googleapis.com/css2?family=Comfortaa:wght@400;700&display=swap" rel="stylesheet">
    </head>
    <body>
        <main class="loginMain">
            <h3>{{message}}</h3>
            <nav class="loginBox">
                <form class="loginInputs" method="POST" action="/index/register/user">
                    <input type="text" placeholder="username" name="username">
                    <input type="password" placeholder="password" name="password">
                    <button>Register</button>
                </form>
            </nav>
            <p>Already have a username? <a href='/index'>Login</a></p>
        </main>
        {{> footer}}
    </body>
</html>