<html>
  <head>
    <meta charset='UTF-8'/>
        <meta name='viewport' content='width=device-width' initial-scale='1.0' maximum-scale='1.0'/>
        <title>Plantr</title>
        <link rel="shortcut icon" href="/images/plantrLogo.svg" type="image/x-icon">
        <link rel='stylesheet' href='/styles/styles.css'/>
        <link href="https://fonts.googleapis.com/css2?family=Comfortaa:wght@400;700&display=swap" rel="stylesheet">
  </head>
  <body>
    {{> menu}}
      <main class="posts-newsfeed">
        {{! <!-- LikeBtn.com BEGIN -->
        <span class="likebtn-wrapper" data-theme="likebtn" data-ef_voting="push" data-white_label="true" data-identifier="item_1"></span>
        <script>(function(d,e,s){if(d.getElementById("likebtn_wjs"))return;a=d.createElement(e);m=d.getElementsByTagName(e)[0];a.async=1;a.id="likebtn_wjs";a.src=s;m.parentNode.insertBefore(a, m)})(document,"script","//w.likebtn.com/js/w/widget.js");</script>
<!-- LikeBtn.com END --> }}
        <div class="container">
        <form method="POST" action="/likes">
            <div><button type="button" onClick="clicks++;updateClickCount();" id="push">Like</button></div>
            <i class="mdi-action-favorite red-text text-lighten-1"></i> <a href="#">
            <div id="clickCount"></div></a>
        <form>    
        </div>

        <script type="text/javascript">
        var clicks = 0;
        function updateClickCount() {
            document.getElementById("clickCount").innerHTML = clicks;
        }
    </script>
      </main>
    <footer>
    {{> footer}}
    <footer>
  </body>   
<html>