* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    }

html {
    font-family: 'Comfortaa', cursive;
    background-color: #E9D985;
    color: #222E50;
    text-align: center;
}

body {
    margin-top: 10%;
}

main {
    margin-bottom: 40%;
}

li {
    list-style-type: none;
}

input {
    border-radius: 8px;
}

.posts-main {
    margin-top: 10%;
    margin-bottom: 50px;
}

/* commments styles BEGIN */
.comments-main {
    margin-top: 7%;
}


/* commments styles END */

.show-posts {
    margin-bottom: 20%;
}

.posts-newsfeed {
    margin-bottom: 20%;
    margin-top: 20%
}

/* space cadet: #222E50
teal blue: #007991
polished pine: #439A86
cambridge blue: #BCD8C1
flax: #E9D985 */

body {
    display: flex;
    flex-direction: column;
    align-items: center;
}

button {
    background-color: #007991;
    border-radius: 8px;
    padding: 10px;
    color: white;
}

.image-cropper {
    width: 100px;
    height: 100px;
    /* position: relative; */
    overflow: hidden;
    border-radius: 50%;
}

.plant-avatar {
  /* display: inline; */
  margin: 0 auto;
  height: 100%;
  width: 100%;
}

.add-post-main {
    margin-top: 20%;
}

.loginMain {
    background-color: #BCD8C1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 300px;
    width: 300px;
    margin: auto;
    margin-top: 20%;
    border-radius: 8px;
}

.loginBox {
    display: flex;
    justify-content: space-evenly;
    align-content: center;
    text-align: center;
}

.loginMain input, .create-inputs input, .create-posts input, .create-plants input {
    margin: 10px;
    margin-right: 0;
    padding: 5px;
}

.loginMain p {
    margin: 10%;
}

.loginMain button, .create-inputs button {
    margin: 15px;
    margin-left: 10px;
}

.create-inputs button {
    margin: 20px;
}

.loginInputs {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

footer {
    position: fixed;
    bottom: 0;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: #007991;
    width: 100%;
    color: white;
}

.main-menu {
    position: fixed;
    top: 0;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: #007991;
    width: 100%;
    color: white;
}

.main-menu p {
    padding: 20px;
}

#footer-logo {
    height: 50px;
    padding: 5px;
}

.main-plants, .main-edit {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 20%;
}

.main-plants {
    width: 96%;
}

.account-plant {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    margin: 10px;
    padding: 10px;
    background-color: #BCD8C1;
    width: 92%;
    border-radius: 8px;
}
.photo-preview {
    width: 300px;
}

.create-plants {
    margin: 1%;
    margin-bottom: 5%;
    padding-bottom: 3%;
}

h1 {
    padding: 20px;
}

.create-inputs, .create-posts {
    margin: 1%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.account-plant p, .account-plant a {
    margin: 10px;
}

.main-edit {
    background-color: #BCD8C1;
    border-radius: 8px;
}

.update-plant-forms {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}

.update-plant-forms , .edit-post-upload input, .update-plant-forms input {
    margin: 15px;
    padding: 5px;
}

.update-plant-forms button {
    margin: 10px;
}

.update-plant-file {
    background-color: #E9D985;
}

.edit-form {
    display: flex;
    flex-direction: column;
}

a {
    text-decoration: none;
}

a:link, a:active, a:visited {
    color: white;
  }

.loginMain a:link, .loginMain a:active, .loginMain a:visited {
    color: #222E50;
}
  
a:hover, a:focus, button:hover, button:focus {
    color: #BCD8C1;
    cursor: pointer;
}

.main-plants a:hover, .main-plants a:focus, .loginMain a:hover, .loginMain a:focus {
    color: #E9D985;
}

@media (min-width: 600px) {
    .loginMain {
        height: 400px;
        width: 600px;
        margin-top: 10%;
    }

    .loginBox {
        padding: 0;
        margin: 10%;
    }

    .loginInputs {
        flex-direction: row;
    }

    .loginMain p {
        margin: 5%;
    }

    .loginMain input {
        margin: 20px;
    }

    .main-plants, .main-edit, .posts-main, .posts-newsfeed, .loginMain, .add-post-main {
        margin-top: 10%;
    }

    #footer-logo {
        height: 100px;
    }

    .account-plant {
        flex-direction: row;
    }

    .create-posts {
        flex-direction: row;
    }
}

@media (min-width: 900px) {
    .loginMain {
        height: 500px;
        width: 800px;
    }

    .loginBox {
        margin: 10%;
    }

    .loginInputs {
        flex-direction: row;
    }

    .loginMain p {
        margin: 5%;
    }

    .loginMain input {
        margin: 20px;
    }

    .create-inputs {
        flex-direction: row;
    }
    
    .main-plants, .main-edit, .posts-main, .posts-newsfeed, .loginMain, .add-post-main{
        margin-top: 7%;
    }

    .main-plants {
        width: 45%;
    }

    #footer-logo {
        height: 100px;
    }

    body {
        margin-top: 1%;
    }

    .account-plant {
        flex-direction: row;
    }

    .create-posts {
        flex-direction: row;
    }
}

@media (min-width: 1200px) {

    .update-plant-forms, .edit-form {
        flex-direction: row;
        align-items: center;
    }

    #footer-logo {
        height: 100px;
    }

    body {
        margin-top: 1%;
    }

    .add-post-main {
        margin-top: 3%;
    }

    .account-plant {
        flex-direction: row;
    }

    .create-posts {
        flex-direction: row;
    }
}